:root {
    --light: #DDBEA9;
    --dark: #CB997E;
    --lighter: #FFE8D6;
    --white: white;
}



/* Navigation bar */

.navbar {
    background-color: var(--light);
    width: 100%;
    height: 10vh;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 3rem;
}

.nav-user {
    gap: 1.5rem;
}

.nav-items li {
    font-size: 2rem;
    color: var(--lighter);
    text-decoration: none;
}

.nav-items li i {
    margin-right: 0.30rem;
}

.nav-items a {
    font-size: 2rem;
    color: var(--lighter);
    text-decoration: none;
}

.nav-items a:hover  {
    color: var(--dark)
}

.nav-items li:hover {
    color: var(--dark)
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 2rem;
    background-color: var(--light);
    color: var(--dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Home page */
.home {
    background-color: var(--lighter);
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

.home-title {
    font-size: 6rem;
    color: var(--dark)
}

.home-subtitle {
    font-size: 2rem;
    color: var(--light)
}

.home-subtitle a {
    text-decoration: none;
    color: var(--dark)
}

.home-subtitle a:hover {
    text-decoration: underline;
}


/* Shop page */
.shop {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    background-color: var(--lighter);
    height: 100%;
}

.shop-content {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.shop-header {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.shop-add {
    border: 1px solid var(--dark);
    padding: 0.90rem;
    background-color: var(--light);
    color: var(--lighter);
}


.shop-form {
    width: 80%;
    display: flex;
    align-items: center;
    background-color: var(--light);
    border: 1px solid var(--lighter);
    border-radius: 5px;
}

.shop-form button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: var(--lighter);
    cursor: pointer;
}

.search-bar {
    width: 92%;
    height: 5vh;
}

.shop-nav {
    background-color: var(--white);
    width: 12%;
    height: 50vh;
    border-radius: 10px;
    padding: 1rem;
}

.shop-nav-filters li {
    margin-bottom: 1rem;
}

/* Item details */
.item {

    background-color: var(--lighter);
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-details {
    margin-top: 2rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.item-details img {
    width: 50%;
    border-radius: 10px;
}

.item-content {
    position: relative;
    width: 48%;
    background-color: var(--white);
    color: var(--dark);
    border-radius: 10px;
    padding: 2rem;
}

.item-content *:not(:last-child) {
    border-bottom: 1px solid var(--light);
    margin-bottom: 2rem;
}

.item-name {
    font-size: 2rem;
}

.item-info {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.add-cart-btn {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    right: 0;
    text-align: center;
}

.add-cart-btn button {
    width: 80%;
    height: 2rem;
    background-color: var(--dark);
    color: var(--lighter);
    border-radius: 10px
}


.item-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.item-card {
    width: 28%;
    max-height: 500px;
    min-width: 400px;
    background-color: var(--lighter);
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.item-text {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: var(--dark);
    font-size: 1.4rem;
}

.item-card img {
    width: 100%;
    height: 80%;

    border-radius: 10px;
}
/* Register page */
.auth {
    background-color: var(--lighter);
    height:90vh;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.auth-box {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--light);
    height:72%;
    width:30%;
    min-width: 576px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    gap: 2rem;
}

.auth-text {
    font-size: 3rem;
    color: var(--dark)
}

.auth-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.auth-form input {
    height:3rem;
    border-radius: 5px;
    border: 1px solid var(--dark);
}

.auth-btn {
    background-color: var(--dark);
    height:3rem;
    color: var(--lighter);
}

/* Shopping cart */
.cart-page {
    background-color: var(--lighter);
    height:100vh;
    display: flex;
    justify-content:center;
    padding: 2rem;
    gap: 5rem;
    color: var(--white);
}

.cart-item {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--light);
    display: flex;
    align-items: center;
    height: 15vh;
    padding: 2rem;
    width: 50vw;
    justify-content: space-between;
    border: 1px var(--dark) solid;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.cart-item img {
    height: 140%;
    border: var(--lighter) 3px solid;
}

.cart-buttons {
    color: var(--dark);
    font-size: 2rem;
}

.cart-checkout {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--light);
    height: 30vh;
    width: 20vw;
    padding: 2rem;
    border: 1px var(--dark) solid;
    border-radius: 10px;
}

.checkout-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.checkout-buttons button {
    background-color: var(--lighter);
    border: 1px var(--dark) solid;
    color: var(--dark);
    padding: 1rem;
    border-radius: 10px;
    width: 50%;
}

.cart-checkout p:not(:last-child) {
    border-bottom: 1px solid var(--dark);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

/* Create Item */
.create {
    background-color: var(--lighter);
    height:90vh;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.create-box {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--light);
    height:70%;
    width:40%;
    min-width: 576px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    gap: 2rem;
}

.create-text {
    font-size: 3rem;
    color: var(--dark)
}

.create-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.create-form input {
    height:3rem;
    border-radius: 5px;
    border: 1px solid var(--dark);
}

.create-btn {
    background-color: var(--dark);
    height:3rem;
    color: var(--lighter);
}