<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Navigation bar -->
    <header>
        <nav class="navbar">
            <ul class="nav-items">
                <li><i class="fa-solid fa-house"></i>Home</li>
                <li><i class="fa-solid fa-basket-shopping"></i>Shop</li>

            </ul>
            <ul class="nav-items nav-user">
                <li class="dropdown"><i class="fa-solid fa-user"></i>
                    <ul class="dropdown-content">
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                    </ul>
                </li>
                <li><i class="fa-solid fa-heart"></i></li>
                <li><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <!-- Home page -->
    <main>
        <section class="shop">
            <div class="shop-header">
                <form class="shop-form">
                    <input class="search-bar" type="text">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    
                </form>   
                
            </div>
            <div class="shop-content">
                <aside class="shop-nav">
                    <ul class="shop-nav-filters">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </aside>
                <ul class="item-list">
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                    <li class="item-card">
                        <img src="243V7QDSB_01-IMS-bg_BG.png" alt="img" />
                        <div class="item-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
                            <span>$243</span>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
    </main>
</body>

</html>